* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats{
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD
}
=======
}
}
>>>>>>> 0918e9012289426b76f0d87f36f20fe9e7db2560
